@using Service.DTOs.BankCard;
@model IEnumerable<BankCardResultDto>;

<div class="row">
    <div class="col-11">
        <h1 class="mb-3 mt-2">Bank Kartalari</h1>
    </div>
</div>
    
<div class="row">

        <div class="col-xl-6 mb-4">
            <div class="card" style="color:black">
                <div class="card-body" >
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="https://aloqabank.uz/upload/iblock/585/hkrhpolol7qp3g1qkw0ns6qu3t8089wb/HUMO_Aloqabank_Card.webp"
                                 alt=""
                                 style="width: 200px; height: 120px; border-radius:5px"
                                  />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@Model.ToList()[0].CardName </p>
                                <p class="text-muted mb-0">Muddati: @Model.ToList()[0].ValidityPeriod yil</p>
                                <p class="text-muted mb-0" style="font-size:x-large">Narxi: @Model.ToList()[0].CardIssue</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
                    <button type="button"
                            class="btn btn-link m-0 text-reset"
                            data-mdb-container="body"
                            data-mdb-toggle="popover"
                            data-mdb-placement="bottom"
                            data-ripple-color="primary"
                            data-mdb-content="Buyurtma berish">
                        Buyurtma berish
                    </button>
                </div>
            </div>
        </div>
         <div class="col-xl-6 mb-4">
            <div class="card" style="color:black">
                <div class="card-body" >
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="https://aloqabank.uz/upload/iblock/c65/06zsg026y9113tzb12z1squb9mbdswls/Uzcard_Aloqabank_Card.webp"
                                 alt=""
                                 style="width: 200px; height: 120px; border-radius:5px"
                                  />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@Model.ToList()[1].CardName </p>
                                <p class="text-muted mb-0">Muddati: @Model.ToList()[1].ValidityPeriod yil</p>
                                <p class="text-muted mb-0" style="font-size:x-large">Narxi: @Model.ToList()[1].CardIssue</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
                    <button type="button"
                            class="btn btn-link m-0 text-reset"
                            data-mdb-container="body"
                            data-mdb-toggle="popover"
                            data-mdb-placement="bottom"
                            data-ripple-color="primary"
                            data-mdb-content="Buyurtma berish">
                        Buyurtma berish
                    </button>
                </div>
            </div>
        </div>
         <div class="col-xl-6 mb-4">
            <div class="card" style="color:black">
                <div class="card-body" >
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="https://aloqabank.uz/upload/iblock/929/n10w54joegpc4mrunhz73iik6zet4ljn/VISA_Aloqabank_Card.webp"
                                 alt=""
                                style="width: 200px; height: 120px; border-radius:5px"
                                  />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@Model.ToList()[2].CardName </p>
                                <p class="text-muted mb-0">Muddati: @Model.ToList()[2].ValidityPeriod yil</p>
                                <p class="text-muted mb-0" style="font-size:x-large">Narxi: @Model.ToList()[2].CardIssue</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
                    <button type="button"
                            class="btn btn-link m-0 text-reset"
                            data-mdb-container="body"
                            data-mdb-toggle="popover"
                            data-mdb-placement="bottom"
                            data-ripple-color="primary"
                            data-mdb-content="Buyurtma berish">
                        Buyurtma berish
                    </button>
                </div>
            </div>
        </div>
         <div class="col-xl-6 mb-4">
            <div class="card" style="color:black">
                <div class="card-body" >
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="https://aloqabank.uz/upload/iblock/e81/9bpimiv5r40lw2escskx2tl31fjvcjil/UNIONPAY_Aloqabank_Card.webp"
                                 alt=""
                                 style="width: 200px; height: 120px; border-radius:5px"
                                  />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@Model.ToList()[3].CardName </p>
                                <p class="text-muted mb-0">Muddati: @Model.ToList()[3].ValidityPeriod yil</p>
                                <p class="text-muted mb-0" style="font-size:x-large">Narxi: @Model.ToList()[3].CardIssue</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
                    <button type="button"
                            class="btn btn-link m-0 text-reset"
                            data-mdb-container="body"
                            data-mdb-toggle="popover"
                            data-mdb-placement="bottom"
                            data-ripple-color="primary"
                            data-mdb-content="Buyurtma berish">
                        Buyurtma berish
                    </button>
                </div>
            </div>
        </div>
         <div class="col-xl-6 mb-4">
            <div class="card" style="color:black">
                <div class="card-body" >
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="https://aloqabank.uz/upload/iblock/ac1/bvipf1tu29z6m6hhe301rsadsex4yt9b/MIR_UZCARD_Aloqabank_Card2.webp"
                                 alt=""
                                 style="width: 200px; height: 120px; border-radius:5px"
                                  />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@Model.ToList()[4].CardName </p>
                                <p class="text-muted mb-0">Muddati: @Model.ToList()[4].ValidityPeriod yil</p>
                                <p class="text-muted mb-0" style="font-size:x-large">Narxi: @Model.ToList()[4].CardIssue</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
                    <button type="button"
                            class="btn btn-link m-0 text-reset"
                            data-mdb-container="body"
                            data-mdb-toggle="popover"
                            data-mdb-placement="bottom"
                            data-ripple-color="primary"
                            data-mdb-content="Buyurtma berish">
                        Buyurtma berish
                    </button>
                </div>
            </div>
        </div>


</div>
