@using Service.DTOs.User;
@model IEnumerable<UserResultDto>;

<div class="row">
    <div class="col-11">
        <h1 class="mb-3 mt-2">Users</h1>
    </div>
    <div class="col-1 mt-4">
        <form asp-controller="Users" asp-action="Create">
            <button class="btn btn-success btn-rounded mb-3" >Create</button>
        </form>
    </div>
</div>
    
<div class="row">
@foreach(var item in Model)
{
        <div class="col-xl-6 mb-4">
            <div class="card" style="color:black">
                <div class="card-body" style="background-color:darkturquoise">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="https://image.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179865.jpg"
                                 alt=""
                                 style="width: 100px; height: 100px"
                                 class="rounded-circle" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">@item.LastName @item.FirstName</p>
                                <p class="text-muted mb-0">Email: @item.Email</p>
                                <p class="text-muted mb-0">Phone: @item.PhoneNumber</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
                    <button type="button"
                            class="btn btn-link m-0 text-reset"
                            data-mdb-container="body"
                            data-mdb-toggle="popover"
                            data-mdb-placement="bottom"
                            data-ripple-color="primary"
                            data-mdb-content="@item.Email">
                        Email
                    </button>

                    <button type="button"
                            class="btn btn-link m-0 text-reset"
                            data-mdb-container="body"
                            data-mdb-toggle="popover"
                            data-mdb-placement="bottom"
                            data-ripple-color="primary"style="color:black"
                            data-mdb-content= "@item.PhoneNumber">
                        Call
                    </button>
                </div>
            </div>
        </div>
}
</div>